* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #f2f2f2; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center; }
  body #top-nav {
    width: 100%;
    height: 60px;
    background-color: #444444;
    position: fixed;
    margin-top: -60px;
    z-index: 3;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column; }
    body #top-nav .top-container {
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      height: 100%;
      overflow: hidden;
      font-weight: 300; }
      body #top-nav .top-container a {
        font-size: 22px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        color: #f2f2f2;
        text-decoration: none;
        transition: color .3s ease;
        -webkit-transition: color .3s ease;
        padding: 0 15px;
        height: 100%; }
      body #top-nav .top-container a:hover {
        color: #43C6AC;
        transition: color .3s ease;
        -webkit-transition: color .3s ease; }
  body #menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    font-size: 36px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    color: #444444;
    opacity: 1;
    transition: color ease .3s;
    -webkit-transition: color ease .3s; }
    body #menu i {
      cursor: pointer;
      opacity: 1;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center; }
  body #menu:hover {
    cursor: pointer;
    color: #43C6AC;
    transition: color ease .3s;
    -webkit-transition: color ease .3s; }
  body .overlay {
    height: 100%;
    width: 100%; }
    body .overlay #homeSection {
      background: none;
      height: 100%;
      width: 100%;
      position: relative;
      color: #444444;
      display: flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      flex-direction: column;
      -webkit-flex-direction: column; }
      body .overlay #homeSection .homeContent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
        -webkit-flex-direction: column; }
        body .overlay #homeSection .homeContent h1 {
          font-size: 64px;
          text-align: center;
          font-weight: 300;
          letter-spacing: 3px;
          padding-bottom: 15px;
          text-transform: uppercase;
          font-family: 'Quicksand', sans-serif; }
        body .overlay #homeSection .homeContent p {
          text-align: center;
          font-weight: 300;
          letter-spacing: 1px;
          max-width: 90%;
          font-size: 14px; }
      body .overlay #homeSection .social {
        font-size: 16px;
        bottom: 0;
        right: 0;
        position: absolute;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        align-items: center;
        -webkit-align-items: center;
        z-index: 1; }
        body .overlay #homeSection .social div {
          width: 140px;
          text-align: center; }
        body .overlay #homeSection .social a {
          color: transparent;
          opacity: 1;
          transition: all .3s ease;
          -webkit-transition: all .3s ease; }
        body .overlay #homeSection .social .fa-inverse {
          color: #444444;
          transition: color .3s ease;
          -webkit-transition: color .3s ease; }
        body .overlay #homeSection .social .fa-inverse:hover {
          color: #43C6AC;
          transition: color .3s ease;
          -webkit-transition: color .3s ease; }
      body .overlay #homeSection .drop {
        font-size: 20px;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center; }
        body .overlay #homeSection .drop a {
          color: transparent;
          opacity: 1;
          transition: color .3s ease;
          -webkit-transition: color .3s ease; }
        body .overlay #homeSection .drop .fa-inverse {
          font-size: 36px;
          color: #444444;
          transition: color .3s ease;
          -webkit-transition: color .3s ease; }
        body .overlay #homeSection .drop .fa-inverse:hover {
          color: #43C6AC;
          transition: opacity .3s ease;
          -webkit-transition: opacity .3s ease; }
    body .overlay #workSection {
      background: white;
      -webkit-background-size: cover;
      background-size: cover;
      width: 100%;
      position: relative;
      z-index: 2; }
      body .overlay #workSection .workContent {
        height: 100%;
        width: 100%;
        position: relative;
        color: #444444;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
        -webkit-flex-direction: column;
        padding: 38px 0 40px 0; }
        body .overlay #workSection .workContent h1 {
          padding-bottom: 35px;
          font-size: 44px;
          text-align: center;
          font-weight: 500;
          color: black;
          letter-spacing: 5px;
          text-transform: uppercase; }
        body .overlay #workSection .workContent .workPics {
          display: flex;
          justify-content: center;
          -webkit-justify-content: center;
          width: 100%;
          flex-direction: column;
          -webkit-flex-direction: column; }
          body .overlay #workSection .workContent .workPics .shadow {
            box-shadow: 0 10px 6px -6px #777; }
          body .overlay #workSection .workContent .workPics .work {
            position: relative;
            display: flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            margin: 5px; }
            body .overlay #workSection .workContent .workPics .work img {
              width: 100%;
              height: 100%;
              filter: grayscale(100%); }
            body .overlay #workSection .workContent .workPics .work .work:hover {
              cursor: pointer; }
            body .overlay #workSection .workContent .workPics .work .zoom {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              background-color: rgba(0, 0, 0, 0.5);
              color: #f2f2f2;
              display: flex;
              justify-content: center;
              -webkit-justify-content: center;
              align-items: center;
              -webkit-align-items: center;
              font-size: 36px;
              transition: opacity .3s ease;
              -webkit-transition: opacity .3s ease; }
            body .overlay #workSection .workContent .workPics .work .zoom:hover {
              opacity: 1;
              transition: opacity .3s ease;
              -webkit-transition: opacity .3s ease;
              cursor: pointer; }
        body .overlay #workSection .workContent .view-all {
          height: auto;
          width: 100%;
          text-align: center;
          margin: 45px 0 10px 0; }
          body .overlay #workSection .workContent .view-all a {
            display: inline-block;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            text-decoration: none;
            padding: 14px;
            color: #444444;
            text-transform: uppercase;
            font-weight: 500;
            border: 2px solid #444444; }
          body .overlay #workSection .workContent .view-all a:hover {
            color: #43C6AC;
            border-color: #43C6AC;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            cursor: pointer; }
    body .overlay #aboutSection {
      background-color: white;
      width: 100%;
      position: relative;
      color: black;
      z-index: 2; }
      body .overlay #aboutSection .aboutContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
        -webkit-flex-direction: column;
        padding: 90px 0 0 0; }
        body .overlay #aboutSection .aboutContent h1 {
          font-size: 24px;
          text-align: center;
          font-weight: 500;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin: 10px 0; }
        body .overlay #aboutSection .aboutContent .aboutInfo {
          width: 75%;
          display: flex;
          flex-direction: column;
          -webkit-flex-direction: column; }
          body .overlay #aboutSection .aboutContent .aboutInfo div img {
            height: 200px;
            width: 200px; }
        body .overlay #aboutSection .aboutContent .aboutStuff {
          display: flex;
          flex-direction: row;
          -webkit-flex-direction: row;
          justify-content: center;
          -webkit-justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          padding: 70px 0 35px 0; }
          body .overlay #aboutSection .aboutContent .aboutStuff .stuff {
            width: 425px;
            display: flex;
            align-items: center;
            -webkit-align-items: center;
            font-size: 24px;
            flex-direction: column;
            -webkit-flex-direction: column;
            padding: 10px 0; }
            body .overlay #aboutSection .aboutContent .aboutStuff .stuff .aboutImg {
              height: 50px;
              width: 50px;
              color: #444444;
              display: flex;
              justify-content: center;
              -webkit-justify-content: center;
              align-items: center;
              -webkit-align-items: center; }
            body .overlay #aboutSection .aboutContent .aboutStuff .stuff p {
              text-align: center;
              width: 90%; }
        body .overlay #aboutSection .aboutContent p {
          letter-spacing: 2px;
          line-height: 200%;
          font-size: 14px;
          font-weight: 500; }
          body .overlay #aboutSection .aboutContent p a {
            color: #43C6AC;
            transition: all .3s ease;
            -webkit-transition: all .3s ease; }
          body .overlay #aboutSection .aboutContent p a:hover {
            color: #444444;
            transition: all .3s ease;
            -webkit-transition: all .3s ease; }
    body .overlay #contact {
      background-color: white;
      -webkit-background-size: cover;
      background-size: cover;
      width: 100%;
      position: relative;
      z-index: 2; }
      body .overlay #contact #phpNotice {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
        -webkit-flex-direction: column; }
        body .overlay #contact #phpNotice h2 {
          margin: 10px;
          max-width: 90%;
          font-weight: 300; }
          body .overlay #contact #phpNotice h2 a {
            color: #43C6AC;
            transition: all .3s ease;
            -webkit-transition: all .3s ease; }
          body .overlay #contact #phpNotice h2 a:hover {
            color: #f2f2f2;
            transition: all .3s ease;
            -webkit-transition: all .3s ease; }
      body .overlay #contact .contactContent {
        width: 100%;
        height: 100%;
        background: linear-gradient(315deg, rgba(67, 198, 172, 0.4), rgba(25, 22, 84, 0.4));
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        padding: 38px 0 50px 0; }
        body .overlay #contact .contactContent .contact h1 {
          padding-bottom: 40px;
          font-size: 44px;
          text-align: center;
          font-weight: 500;
          letter-spacing: 5px;
          text-transform: uppercase;
          color: #f2f2f2; }
        body .overlay #contact .contactContent .contact .form-container .feedback-input {
          color: #444444;
          font-weight: 100;
          font-size: 16px;
          border-radius: 0;
          line-height: 16px;
          background-color: white;
          padding: 13px 13px 13px 13px;
          margin-bottom: 10px;
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 2px solid transparent;
          transition: all .5s ease;
          -webkit-transition: all .5s ease; }
        body .overlay #contact .contactContent .contact .form-container .feedback-input:focus {
          background: #fff;
          box-shadow: 0;
          border: 2px solid #43C6AC;
          color: #444444;
          outline: none;
          padding: 13px 13px 13px 13px;
          transition: all .5s ease;
          -webkit-transition: all .5s ease; }
        body .overlay #contact .contactContent .contact .form-container textarea {
          width: 100%;
          height: 150px;
          line-height: 150%;
          resize: none;
          font-family: Arial, sans-serif;
          font-weight: 500 !important;
          font-size: inherit; }
        body .overlay #contact .contactContent .contact .form-container input:hover, body .overlay #contact .contactContent .contact .form-container textarea:hover,
        body .overlay #contact .contactContent .contact .form-container input:focus, body .overlay #contact .contactContent .contact .form-container textarea:focus {
          background-color: white; }
        body .overlay #contact .contactContent .contact .form-container #button {
          float: left;
          width: 100%;
          border: none;
          cursor: pointer;
          background-color: white;
          color: #43C6AC;
          font-size: 24px;
          padding-top: 14px;
          padding-bottom: 14px;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          margin-top: -4px;
          font-weight: 700;
          letter-spacing: 2px;
          -webkit-appearance: none; }
        body .overlay #contact .contactContent .contact .form-container #button:hover {
          color: #444444;
          border-color: #444444;
          transition: all .3s ease;
          -webkit-transition: all .3s ease; }
    body .overlay #footer {
      background-color: white;
      height: 50px !important;
      width: 100%;
      position: relative;
      z-index: 2; }
      body .overlay #footer .social {
        font-size: 16px;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center; }
        body .overlay #footer .social #top {
          left: 0;
          bottom: 0;
          color: #444444;
          z-index: 1;
          font-size: 36px;
          width: 50px;
          height: 50px;
          justify-content: center;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center; }
          body .overlay #footer .social #top a {
            color: #444444;
            text-decoration: none;
            display: flex;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;
            width: 100%;
            height: 100%;
            transition: color .3s ease;
            -webkit-transition: color .3s ease; }
            body .overlay #footer .social #top a i {
              cursor: pointer; }
          body .overlay #footer .social #top a:hover {
            color: #43C6AC;
            transition: color .3s ease;
            -webkit-transition: color .3s ease; }
        body .overlay #footer .social .media {
          width: 140px;
          text-align: center; }
          body .overlay #footer .social .media a {
            color: transparent; }
          body .overlay #footer .social .media .fa-inverse {
            color: #444444;
            transition: color .3s ease;
            -webkit-transition: color .3s ease; }
          body .overlay #footer .social .media .fa-inverse:hover {
            color: #43C6AC;
            transition: color .3s ease;
            -webkit-transition: color .3s ease; }

.loading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  position: fixed;
  z-index: 9999; }

.openWork {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  overflow-x: hidden; }
  .openWork .modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .openWork .modal-content {
    position: relative;
    z-index: 99;
    overflow: hidden; }
    .openWork .modal-content h3 {
      width: auto;
      font-weight: 300; }
    .openWork .modal-content .modal-img {
      width: 100%;
      height: 100%;
      position: relative; }
      .openWork .modal-content .modal-img #img {
        max-width: 100%;
        max-height: 100%; }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  body .overlay #aboutSection .aboutContent .aboutInfo p {
    font-size: 18px; }
  body .overlay #workSection .workContent .workPics {
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
  body #top-nav .top-container a {
    padding: 0 30px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px), handheld and (orientation: landscape) {
  body .overlay #homeSection .homeContent h1 {
    font-size: 160px;
    letter-spacing: 5px;
    padding-bottom: 0; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body #top-nav {
    width: 100%;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px); }
  body #homeSection .homeContent {
    position: fixed; }
  body #homeSection .social {
    position: fixed !important; }
  body #homeSection .drop {
    position: fixed !important; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  body #aboutSection .aboutContent .aboutInfo {
    max-width: 50%; } }

/*# sourceMappingURL=styles.css.map */
