#contact{
  width: 100%;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contact-content{
    width: 1000px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      opacity: 0.8;
    }
    .contact-info{
      padding: 45px;
      .social-media{
        .fa-stack{
          color: #e5e5e5;
          right: 4px;
          .fa-inverse{
            color: #161616;
          }
        }
        a{
          margin-right: 5px;
        }
        a:nth-child(1):hover{
          color: #00b6f1;
          transition: color .3s ease;
        }
        a:nth-child(2):hover{
          color: #3b5998;
          transition: color .3s ease;
        }
        a:nth-child(3):hover{
          color: #c32aa3;
          transition: color .3s ease;
        }
        a:nth-child(4):hover{
          color: #b31217;
          transition: color .3s ease;
        }
        a:nth-child(5):hover{
          color: #6441a5;
          transition: color .3s ease;
        }
        a:nth-child(6):hover{
          color: #fffc00;
          transition: color .3s ease;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #contact{
    .contact-content{
      width: 992px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #contact{
    .contact-content{
      width: 100%;
      height: 250px;
      font-size: 14px;
      img{
        height: 100%;
      }
      .contact-info{
        padding: 0;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #contact{
    .contact-content{
      width: 100%;
      .contact-info{
        .social-media{
          width:180px;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #contact{
    .contact-content{
      width: 320px;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  #contact{
    .contact-content{
      width: 240px;
    }
  }
}