#embedded {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  width: 100%;
  .slick-next, .slick-prev{
    margin-top: 35px;
  }
  .slick-active{
    color: #DD1A22;
  }
  .slick-active:focus {
    outline: none;
  }
  .slick-cloned {
    outline: none;
  }
  .slick-slide {
    outline: none;
  }
  .slick-current {
    outline: none;
  }
  .slick-dots{
    position: absolute;
    top: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0;
    list-style: none;
    #slick-slide20{
      display: flex;
      justify-content: center;
      h1{
        margin: 0;
        height: 33px;
      }
    }
    #slick-slide21{
      display: flex;
      justify-content: center;
      h1{
        margin: 0;
        height: 33px;
      }
    }
    li{
      margin: 0;
      display: block;
      height: 33px;
      width: auto;
      h1:hover{
        color: #DD1A22;
        transition: color .5s ease;
      }
    }
    li:nth-child(2){
      margin-left: 20px;
    }
  }
  .embed {
    width: 1150px;
    height: 647px;
    color: #e5e5e5;
    text-align: center;
    margin: 65px;
    .twitch {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 647px;
      width: 1150px;
      .panel {

      }
      p {
        font-weight: 600;
      }
      a {
        color: #e5e5e5;
        text-decoration: none;
      }
      a:hover {
        color: #DD1A22;

      }
    }
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #embedded {
    .slick-next, .slick-prev {
      margin-top: 35px;
    }
    .slick-dots {
      position: absolute;
      top: -70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 70px;
      margin: 0;
      list-style: none;
      #slick-slide20 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #slick-slide21 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li {
        margin: 0;
        display: block;
        height: 33px;
        width: auto;
        h1:hover {
          color: #DD1A22;
          transition: color .5s ease;
        }
        h1:active {
          color: #DD1A22;
        }
      }
      li:nth-child(2) {
        margin-left: 20px;
      }
    }
    .embed {
      width: 962px;
      max-height: 558px;
      color: #e5e5e5;
      text-align: center;
      margin: 65px;
      .twitch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 558px;
        width: 962px;
        .panel {
          #tw {
            width: 707px;
            height: 558px;
          }
          #chat{
            height: 558px;
          }
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #embedded {
    .embed {
      width: 700px;
      max-height: 394px;
      color: #e5e5e5;
      text-align: center;
      margin: 65px;
      .twitch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 394px;
        width: 700px;
        .panel {
          #tw{
            width: 700px;
            height: 395px;
          }
          #chat{
            display:none;
          }
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #embedded {
    background-color: #161616;
    .embed {
      width: 480px;
      max-height: 271px;
      color: #e5e5e5;
      text-align: center;
      margin: 30px;
      .twitch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 271px;
        width: 480px;
        .panel {
          #tw{
            width: 480px;
            height: 271px;
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #embedded {
    .embed {
      width: 320px;
      max-height: 181px;
      color: #e5e5e5;
      text-align: center;
      margin: 30px;
      .twitch {
        height: 181px;
        width: 320px;
        .panel {
          #tw{
            width: 320px;
            height: 181px;
          }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}