#embedded {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  width: 100%;
  .embed {
    width: 1150px;
    height: 647px;
    color: #e5e5e5;
    text-align: center;
    margin: 65px;
    .twitch {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 647px;
      width: 1150px;
      .panel {

      }
      p {
        font-weight: 600;
      }
      a {
        color: #e5e5e5;
        text-decoration: none;
      }
      a:hover {
        color: #DD1A22;

      }
    }
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #embedded {
    .embed {
      width: 932px;
      max-height: 527px;
      color: #e5e5e5;
      text-align: center;
      margin: 65px;
      .twitch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 558px;
        width: 962px;
        .panel {
          #tw {
            width: 932px;
            height: 527px;
            iframe{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #embedded {
    .embed {
      width: 700px;
      max-height: 394px;
      color: #e5e5e5;
      text-align: center;
      margin: 65px;
      .twitch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 394px;
        width: 700px;
        .panel {
          #tw{
            width: 700px;
            height: 395px;
            iframe{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #embedded {
    background-color: #161616;
    .embed {
      width: 480px;
      max-height: 271px;
      color: #e5e5e5;
      text-align: center;
      margin: 30px;
      .twitch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 271px;
        width: 480px;
        .panel {
          #tw{
            width: 480px;
            height: 271px;
            iframe{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #embedded {
    .embed {
      width: 320px;
      max-height: 181px;
      color: #e5e5e5;
      text-align: center;
      margin: 30px;
      .twitch {
        height: 181px;
        width: 320px;
        .panel {
          #tw{
            width: 320px;
            height: 181px;
          }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}