#support {
  width: 100%;
  height: 660px;
  background-color: #0a0a0a;
  display:flex;
  justify-content: center;
  align-items: center;

  .bg{
    width: 100%;
    height: 660px;
    background: url("../img/background/StockSnap_N37RJ5IIPO.jpg") top center rgba(22, 22, 22, 0.5) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    margin:0;
  }
  .supportContent{
    width: 1150px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    .supportPanel{
      width: 350px;
      height: 600px;
      text-align: center;
      background-color: rgba(22,22,22,0.80);
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      a{
        color: #e5e5e5;
      }
      a:hover{
        color: #DD1A22;
        transition: color .3s ease;
      }
      .donation{
        width: 350px;
        height: 600px;
        ul {
          width: 300px;
          text-align: left;
          font-size: 14px;
          li {
            margin: 10px 0;
            letter-spacing: 1px;
          }
        }
        .tipBtn {
          width: 140px;
          height: 40px;
          background-color: #6441a5;
          color: #fff;
          margin: 30px auto;
          border: 1px solid #432b6e;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #e5e5e5;
            text-shadow: 0 1px 0 rgba(0,0,0,0.8);
          }
        }
        .tipBtn:hover{
          background-color:#4e3380;
          transition: background-color .3s ease;
        }
        p {
          width: 300px;
          margin: 10px auto;
          text-align: left;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
      .wishlist{
        width: 350px;
        height: 600px;
        p {
          width: 300px;
          margin: 10px auto;
          text-align: left;
          font-size: 14px;
          letter-spacing: 1px;
        }
        .wishBtn {
          width: 140px;
          height: 40px;
          background-color: #dd1a22;
          color: #fff;
          margin: 30px auto;
          border: 1px solid #c6171e;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #e5e5e5;
            text-shadow: 0 1px 0 rgba(0,0,0,0.8);
          }
        }
        .wishBtn:hover{
          background-color:#991217;
          transition: background-color .3s ease;
        }
      }
      .subscribe {
        width: 350px;
        height: 600px;
        .subBtn {
          width: 140px;
          height: 40px;
          background-color: #6441a5;
          color: #fff;
          margin: 30px auto;
          border: 1px solid #432b6e;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #e5e5e5;
            text-shadow: 0 1px 0 rgba(0,0,0,0.8);
          }
        }
        .subBtn:hover{
          background-color:#4e3380;
          transition: background-color .3s ease;
        }
        p {
          width: 300px;
          margin: 10px auto;
          text-align: left;
          font-size: 14px;
          letter-spacing: 1px;
        }
        ul {
          width: 300px;
          text-align: left;
          font-size: 14px;
          li {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #support {
    width: 100%;
    height: 660px;
    background-color: #0a0a0a;
    .bg{
      width: 100%;
      height: 660px;
      background: url("../img/background/StockSnap_N37RJ5IIPO.jpg") top center rgba(22, 22, 22, 0.5);
      overflow: hidden;
      position: absolute;
    }
    .supportContent{
      width: 950px;
      display: flex;
      position: absolute;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
      .supportPanel{
        width: 300px;
        height: 600px;
        text-align: center;
        background-color: rgba(22,22,22,0.80);
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        a{
          color: #e5e5e5;
        }
        .donation{
          width: 300px;
          height: 600px;
          ul {
            width: 240px;
            text-align: left;
            font-size: 14px;
            li {
              margin: 10px 0;
            }
          }
          .tipBtn {
            width: 140px;
            height: 40px;
            background-color: #6441a5;
            color: #fff;
            margin: 30px auto;
            border: 1px solid #593a93;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            a {
              width: 100%;
              height: 100%;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #e5e5e5;
              text-shadow: 0 1px 0 rgba(0,0,0,0.8);
            }
          }
          p {
            width: 260px;
            margin: 10px auto;
            text-align: left;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
        .wishlist{
          width: 300px;
          height: 600px;
          p {
            width: 260px;
            margin: 10px auto;
            text-align: left;
            font-size: 14px;
            letter-spacing: 1px;
          }
          .wishBtn {
            width: 140px;
            height: 40px;
            background-color: #dd1a22;
            color: #fff;
            margin: 30px auto;
            border: 1px solid #c6171e;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            a {
              width: 100%;
              height: 100%;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #e5e5e5;
              text-shadow: 0 1px 0 rgba(0,0,0,0.8);
            }
          }
        }
        .subscribe {
          width: 300px;
          height: 600px;
          .subBtn {
            width: 140px;
            height: 40px;
            background-color: #6441a5;
            color: #fff;
            margin: 30px auto;
            border: 1px solid #593a93;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            a {
              width: 100%;
              height: 100%;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #e5e5e5;
              text-shadow: 0 1px 0 rgba(0,0,0,0.8);
            }
          }
          p {
            width: 260px;
            margin: 10px auto;
            text-align: left;
            font-size: 14px;
            letter-spacing: 1px;
          }
          ul {
            width: 240px;
            text-align: left;
            font-size: 14px;
            li {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #support {
    width: 100%;
    height: 710px;
    background-color: #0a0a0a;
    .bg{
      width: 100%;
      height: 710px;
      background: url("../img/background/StockSnap_N37RJ5IIPO.jpg") top center rgba(22, 22, 22, 0.5) no-repeat;
      background-size: cover;
      overflow: hidden;
      position: absolute;
    }
    .supportContent{
      width: 100%;
      display: flex;
      position: absolute;
      justify-content: space-around;
      align-items: center;
      z-index: 100;
      .supportPanel{
        height: 650px;
        margin: 0;
        text-align: center;
        background-color: rgba(22,22,22,0.80);
        display: flex;
        flex-direction: column;
        align-items:center;
        flex: 1;
        a{
          color: #e5e5e5;
        }
        .donation{
          width: 250px;
          height: 650px;
          ul {
            width: 190px;
            text-align: left;
            font-size: 14px;
            li {
              margin: 10px 0;
            }
          }
          .tipBtn {
            width: 140px;
            height: 40px;
            background-color: #6441a5;
            color: #fff;
            margin: 30px auto;
            border: 1px solid #593a93;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            a {
              width: 100%;
              height: 100%;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #e5e5e5;
              text-shadow: 0 1px 0 rgba(0,0,0,0.8);
            }
          }
          p {
            width: 210px;
            margin: 10px auto;
            text-align: left;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
        .store{
          width: 250px;
          height: 275px;
          p {
            width: 210px;
            margin: 10px auto;
            text-align: left;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
        .wishlist{
          width: 250px;
          height: 650px;
          p {
            width: 210px;
            margin: 10px auto;
            text-align: left;
            font-size: 14px;
            letter-spacing: 1px;
          }
          .wishBtn {
            width: 140px;
            height: 40px;
            background-color: #dd1a22;
            color: #fff;
            margin: 30px auto;
            border: 1px solid #c6171e;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            a {
              width: 100%;
              height: 100%;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #e5e5e5;
              text-shadow: 0 1px 0 rgba(0,0,0,0.8);
            }
          }
        }
        .subscribe {
          width: 250px;
          height: 650px;
          .subBtn {
            width: 140px;
            height: 40px;
            background-color: #6441a5;
            color: #fff;
            margin: 30px auto;
            border: 1px solid #593a93;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            a {
              width: 100%;
              height: 100%;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 1px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #e5e5e5;
              text-shadow: 0 1px 0 rgba(0,0,0,0.8);
            }
          }
          p {
            width: 210px;
            margin: 10px auto;
            text-align: left;
            font-size: 14px;
            letter-spacing: 1px;
          }
          ul {
            width: 190px;
            text-align: left;
            font-size: 14px;
            li {
              margin: 10px 0;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #support{
    display:block;
    width:100%;
    height: 1100px;
    font-size: 12px;
    .bg{
      height: 1100px;
    }
    .supportContent{
      width:100%;
      height: 1100px;
      flex-direction:column;
      justify-content: space-around;
      .supportPanel{
        width: 460px;
        flex: initial;
        .subscribe{
          width: 350px;
          height: 400px;
          p{
            width: 350px;
          }
          ul{
            width: 330px;
            padding-left: 20px;
          }
          .subBtn{
            margin: 25px auto;
          }
        }
        .donation{
          width: 350px;
          height: 325px;
          p{
            width: 350px;
          }
          ul{
            width: 330px;
            padding-left: 20px;
          }
          .tipBtn{
            margin: 19px auto;
          }
        }
        .wishlist{
          width: 350px;
          height: 265px;
          p{
            width: 350px;
          }
          .wishBtn{
            margin: 23px auto;
          }
        }
      }
      .supportPanel:nth-child(1){
        height: 400px;
      }
      .supportPanel:nth-child(2){
        height: 325px;
      }
      .supportPanel:nth-child(3){
        height: 265px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #support{
    height: 1130px;
    font-size: 12px;
    .bg{
      height: 1130px;
      width:100%;
    }
    .supportContent{
      width:100%;
      height: 1130px;
      flex-direction:column;
      justify-content: space-around;
      .supportPanel{
        width: 320px;
        flex: initial;
        .subscribe{
          width: 300px;
          height: 400px;
          p{
            width: 300px;
          }
          ul{
            width: 280px;
            padding-left: 20px;
          }
          .subBtn{
            margin: 25px auto;
          }
        }
        .donation{
          width: 300px;
          height: 325px;
          p{
            width: 300px;
          }
          ul{
            width: 280px;
            padding-left: 20px;
          }
          .tipBtn{
            margin: 19px auto;
          }
        }
        .wishlist{
          width: 300px;
          height: 265px;
          p{
            width: 300px;
          }
          .wishBtn{
            margin: 23px auto;
          }
        }
      }
      .supportPanel:nth-child(1){
        height: 410px;
      }
      .supportPanel:nth-child(2){
        height: 335px;
      }
      .supportPanel:nth-child(3){
        height: 275px;
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}