*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: 'Quicksand', sans-serif;
    color: #444;
}

#container{
    margin: 10px;
}

h1{
    width: auto;
    border-bottom: 3px solid #444;
    display: inline-block;
    padding-right: 25px;
}

h2{
    margin: 20px 0 10px 0;
}

ul{
    list-style: none;
    font-weight: 500;
    margin: 10px 0;
}

li{
    margin: 5px 0;
}

#btn-twitch{
    background-color: #6441A5;
    color: #fff;
    text-decoration: none;
    padding: 6px 25px;
    border: 1px solid #6D51A0;
    border-radius:3px;
    font-size: 18px;
    transition: background-color .3s ease;
}

#btn-twitch:hover{
    background-color: #7A55BD;
    cursor: pointer;
    transition: background-color .3s ease;
}