body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  background-color: #0c0b09;
  color: #edece8;
  overflow: hidden;
}

h1 {
  text-align: center;
}

a, a:visited {
  margin-top: auto;
  padding: 0.5rem 1rem;
  display: inline-flex;
  text-decoration: none;
  color: #edece8;
  background-color: rgba(185, 147, 60, 0.1);
  transition: color ease 0.3s;
}

a:hover {
  color: #b9933c;
}

#openseadragon-viewer {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative; /* Ensure markers are positioned relative to this container */
}

.openseadragon-container > div:nth-child(2) {
  position: absolute;
  top: auto !important;
  left: auto !important;
  bottom: 0 !important;
  right: 0 !important;
}

.point-marker {
  position: absolute;
  transform: translate(-50%, -50%);
}
.point-marker i {
  font-size: 24px; /* Adjust icon size as needed */
}

.point-marker.flag {
  -webkit-text-stroke: 2px black;
  z-index: 0;
  transform: translate(0%, -50%);
}

.point-marker.group {
  background-color: silver;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 1;
}

.point-marker.capture {
  background-color: darkcyan;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 2;
}

.point-marker.controller {
  background-color: bisque;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 3;
}

.point-marker.camera {
  background-color: darkorange;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 4;
}

.point-marker.trigger {
  background-color: aqua;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 5;
}

.point-marker.player {
  background-color: yellow;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 6;
}

.point-marker.vehicle {
  background-color: limegreen; /* Set color for respawn points */
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 7;
}

.point-marker.weapon {
  background-color: purple; /* Set color for respawn points */
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 8;
}

.point-marker.ammo {
  background-color: blue;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 9;
}

.point-marker.health {
  background-color: red;
  border: 2px solid black; /* Add black border */
  width: 10px;
  height: 10px;
  border-radius: 48%;
  text-align: center;
  line-height: 20px;
  z-index: 10;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 21;
  height: 100%;
  overflow-x: auto;
  background-color: #0c0b09;
  width: max-content;
}

#openClose {
  top: 0;
  padding: 1rem 1.5rem;
  z-index: 21;
  position: absolute;
  background-color: #0c0b09;
  cursor: pointer;
  transition: color ease 0.3s;
}

#openClose:hover {
  color: #b9933c;
}

.map-selection {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.coordinate-display {
  display: flex;
  flex-direction: column;
  word-break: break-all; /* Breaks words at any character */
  overflow-wrap: break-word;
  position: absolute;
  background-color: #0c0b09;
  z-index: 20;
  top: 0;
  right: 0;
  max-width: 360px;
  pointer-events: none;
}

.instance-info {
  word-break: break-all; /* Breaks words at any character */
  overflow-wrap: break-word;
  background-color: #0c0b09;
  border-top: 1px solid #b9933c;
}

.legend {
  min-width: 275px;
  margin: 0.5rem;
}

.map {
  padding: 0.5rem 1rem;
  transition: color ease 0.3s;
}

.map:hover {
  cursor: pointer;
  color: #b9933c;
}

#mouse-coordinates {
  background-color: #0c0b09;
}

#mouse-coordinates,
.point-info,
.object,
.name,
.vehicleClass,
.state,
.description,
.type {
  padding: 0.5rem 1rem;
}
#mouse-coordinates span,
.point-info span,
.object span,
.name span,
.vehicleClass span,
.state span,
.description span,
.type span {
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: color ease 0.3s;
}
.legend-item .fa-flag {
  margin: 0 1rem;
  width: 20px;
  height: 20px;
  -webkit-text-stroke: 1px black;
  text-align: center;
}

.legend-item:hover {
  cursor: pointer;
  color: #b9933c;
}

.legend-color {
  width: 16px;
  height: 16px;
  margin: 0 1rem;
  border-radius: 48%;
  border: 1px solid black;
  clip-path: circle(50%);
}

.fa-toggle-off,
.fa-toggle-on {
  font-size: 20px;
}

.active {
  color: #b9933c;
}

.flag-neutral {
  color: white;
}

.flag-mec {
  background-image: url("../../images/teams/MEC.png"); /* Path to your solid color image */
  background-repeat: repeat; /* Repeat the image if necessary */
  background-size: cover; /* Adjust based on how you want the image to be sized */
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flag-us {
  background-image: url("../../images/teams/US.png"); /* Path to your solid color image */
  background-repeat: repeat; /* Repeat the image if necessary */
  background-size: cover; /* Adjust based on how you want the image to be sized */
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flag-ch {
  background-image: url("../../images/teams/CH.png"); /* Path to your solid color image */
  background-repeat: no-repeat; /* Prevent repeating */
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the image */
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flag-eu {
  background-image: url("../../images/teams/EU.png"); /* Path to your solid color image */
  background-repeat: no-repeat; /* Prevent repeating */
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the image */
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=maps.css.map */